* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #ededed;
    margin: 0;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: unset;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
}

#search-container {
    width: 50%;
    margin: auto;
    display: flex;
    gap: 5px;
    justify-content: center;
}

#locationInput {
    height: 1.5rem;
    width: 100%;
    border: 1px solid rgb(197, 197, 197);
    padding: 14px;
    border-radius: 5px;
}

#search {
    border: 1px solid #5a81af;
    border-radius: 5px;
    background-color: #5a81af;
    color: #efefef;
    padding-left: 20px;
    padding-right: 20px;
}

#card {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    padding: 10px;
    gap: 1em;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.icon-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sunny-icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23d0cc00' d='M11 5V1h2v4zm6.65 2.75l-1.375-1.375l2.8-2.875l1.4 1.425zM19 13v-2h4v2zm-8 10v-4h2v4zM6.35 7.7L3.5 4.925l1.425-1.4L7.75 6.35zm12.7 12.8l-2.775-2.875l1.35-1.35l2.85 2.75zM1 13v-2h4v2zm3.925 7.5l-1.4-1.425l2.8-2.8l.725.675l.725.7zM12 18q-2.5 0-4.25-1.75T6 12t1.75-4.25T12 6t4.25 1.75T18 12t-1.75 4.25T12 18'/%3E%3C/svg%3E");
}

.content-container {
    width: 70%;
}

.location {
    font-size: 40px;
}

.temp {
    font-size: 20px;
}

.windSpeed {
    font-size: 20px;
}



/* Media Queries */
@media (max-width: 875px) {
    #search-container {
        width: 100%;
    }

    #card {
        width: 100%;
    }

}