/* Main body */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding: 1em;
}

main {
    display: flex;
    justify-content: unset;
    flex-direction: column;
    gap: 1em;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    font-size: 20px;
}

/* Toggle celcius to farenheit button*/
.toggleDeg {
    width: 6em;
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
}

/* Search bar */
#search-wrapper {
    display: flex;
    height: 2em;
    gap: 1em;
    justify-content: center;
}

#search-container {
    width: 40%;
    display: flex;
    gap: 5px;
}

#locationInput {
    width: 100%;
    border: 1px solid rgb(197, 197, 197);
    padding: 14px;
    border-radius: 5px;
}

/* Search button */
#search {
    border: 1px solid #5a81af;
    border-radius: 5px;
    background-color: #5a81af;
    color: #efefef;
    padding-left: 20px;
    padding-right: 20px;
}

/* Option list */
#results-container {
    margin: auto;
    width: 50%;
}


/* Card Styles */

#card {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    padding: 10px;
    gap: 1em;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.icon-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Icon styles */



/* Weather results styles */
.content-container {
    width: 70%;
}

.state {
    font-size: 40px;
    font-weight: bold;
}

.location {
    font-size: 40px;
}

.temp {
    font-size: 20px;
}

.windSpeed {
    font-size: 20px;
}



/* Media Queries */
@media (max-width: 875px) {
    #search-wrapper {
        justify-content: flex-start;
    }
    
    #search-container {
        width: 70%;
    }

    #card {
        width: 100%;
    }

}